/** //Base Styles **/
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/** //Typography **/
h1{
    font-size: 3em;
}

/** //Utility Classes **/
.flex{
    display: flex;
}
.w-full{
    width: 100%;
}
.w-half{
    width: 50%;
}
.w-one-third{
    width: 33.333%;
}
.w-one-fourth{
    width: 25%;
}
.h-align-center{
    justify-content: center;
}
.v-align-center{
    align-items: center;
}

.text--center{
    text-align: center;
}
.text--white{
    color: #ffffff;
}

.button{
    display: inline-block;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #215732;
    text-decoration: none;
    color: #ffffff;
}
.button:hover{
    background-color: #333333;
}

/** //Hero Section **/
#hero{
    background: url('../images/hero-bg.png') no-repeat top left;
    background-size: cover;
    height: 100vh;
}